{
    "registry":{
        "path":{
            "HOME_DIR":"/home/debian/bin/armhf/",
            "PROFILE_DIR":"/home/debian/bin/armhf/",
            "BIN_DIR":"/home/debian/bin/armhf/",
            "CONFIG_DIR":"/home/debian/bin/armhf/",
            "MDNS_SERVICE_DIR":"/etc/avahi/services/"
        },
        "hostname":"AOPGW03"
    },
    "host":"127.0.0.1",
    "vpn":{
        "address":"10.0.0.1"
    },
    "device":{
        "target":"OSD3358"
    },
    "required":{
        "tasks":["A.task"]
    }
}
